#root {
	background-color: $color-lightGray;
}

.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	& > .row:first-of-type > h1 {
		padding-top: 15px;
		text-align: center;
		@include font-1(300);
	}
}

footer {
	width: 100%;
}
